.edgebutton {
  width: 20px;
  height: 20px;
  background: #eee;
  border: 1px solid #fff;
  cursor: pointer;
  border-radius: 50%;
  font-size: 12px;
  line-height: 1;
  /* display: none; */
}
.edge-label {
  margin: auto;
  padding: 0px 5px;
}

.edgebutton:hover {
  box-shadow: 0 0 6px 2px rgba(0, 0, 0, 0.08);
  z-index: 1;
  /* display: block; */
}

.icons {
  font-size: 17px;
  position: relative;
  right: 5px;
}
