.edgebutton {
  width: 19px;
  height: 18px;
  background: #eee;
  border: 1px solid #fff;
  cursor: pointer;
  border-radius: 50%;
  font-size: 10px;
  line-height: 1;
  /* display: none; */
}
.edge-label {
  margin: auto;
  /* padding: 0px 5px; */
}

.edgebutton:hover {
  box-shadow: 0 0 6px 2px rgba(0, 0, 0, 0.08);
  z-index: 1;
  /* display: block; */
}

.icons {
  font-size: 15px;
  position: relative;
  right: 5px;
}

.edge-container {
  display: flex;
  align-items: center;
  transition: background-color 0.2s ease;
}

.edge-buttons {
  display: flex;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.edge-container:hover .edge-buttons {
  opacity: 1;
}
